.map-container {
	width: 100%;
	height: 500px;
	margin: 20px auto;
}

.signIn-button {
	margin: 10px 20px 10px 20px;
}

.queriesHistory-container {
	margin: 20px auto
}

.content-container {
	margin: auto;
	width: 80%;
	min-width: 500px;
}